proj.ios_mac/*.xcodeproj/*
cocos2d/*
proj.linux/*
proj.win32/*
proj.ios_mac/mac/*
proj.ios_mac/ios/*.framework/*
proj.ios_mac/ios/*.bundle/*
proj.ios_mac/ios/OpenSource/*
proj.ios_mac/build/*
proj.android/obj/*
proj.android/bin/*
proj.android/google-play-services_lib/*
proj.android/libs/*
proj.android/assets/*
publish/android/*
proj.wp8-xaml/*
bin/*
CMakelists.txt
!proj.ios_mac/*.xcodeproj/project.pbxproj
!proj.ios_mac/*.xcworkspace/contents.xcworkspacedata
.DS_Store
*.o

