<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charachip009c0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{40,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charachip009c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{40,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{40,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charachip009c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{40,74}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{40,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charachip009e0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charachip009e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{40,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{40,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charachip009e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{40,74}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{40,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chip009.png</string>
            <key>size</key>
            <string>{44,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d37a93f7a6c044ed71bd673299fa425f:7803d52cca2b8602633b2867fa1a72c0:f40abd6ba347db6554d78b6373fb4c8e$</string>
            <key>textureFileName</key>
            <string>chip009.png</string>
        </dict>
    </dict>
</plist>
