<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charachip030b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charachip030b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{68,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charachip030b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charachip030c0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charachip030c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{68,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>charachip030c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chip030.png</string>
            <key>size</key>
            <string>{426,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a1328752b0dd5c70daaf217de335b3d:4a97b1161da0afb8f842e74ec039a325:8121f93efbb85f1bc23376c9f1fe9912$</string>
            <key>textureFileName</key>
            <string>chip030.png</string>
        </dict>
    </dict>
</plist>
