<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>320</integer>
		<key>width</key>
		<integer>240</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>uGemRed00.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>uGemRed01.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>uGemRed02.png</key>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>uGemRed03.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>uGemRed04.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>uGemRed05.png</key>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>80</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>uGemRed06.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>uGemRed07.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>uGemRed08.png</key>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>160</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>uGemRed09.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>240</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>uGemRed10.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>240</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>uGemRed11.png</key>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>240</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
	</dict>
</dict>
</plist>
