<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>btnImage.png</string>
		<key>size</key>
		<string>{160,60}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:536bb7041136b1875446bb42863ce24d$</string>
		<key>textureFileName</key>
		<string>btnImage.png</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>btnImage00.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>btnImage01.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>btnImage02.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>btnImage03.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>btnImage04.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>btnImage05.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>btnImage06.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>btnImage07.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>192</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>256</integer>
		<key>width</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>
